<?xml version="1.0"?>
<!--
  Per altre informazioni su come configurare l'applicazione ASP.NET, vedere
 https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
    <add name="AMATRONDBConnectionString" connectionString="Data Source=5.134.124.100\MSSQLSERVER2019; Initial Catalog =AMATRONDB; User Id=adminamatron;Password=!4m4tr0n!; Pooling=false" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSLoginSoap2" />
        <binding name="WsCarrelloSoap1">
          <security mode="Transport" />
        </binding>
        <binding name="WsCarrelloSoap2" />
        <binding name="WsAmatronSoap1">
          <security mode="Transport" />
        </binding>
        <binding name="WsAmatronSoap2" />
        <binding name="WsCategorieSoap1">
          <security mode="Transport" />
        </binding>
        <binding name="WsCategorieSoap2" />
        <binding name="WsChangePwdSoap1">
          <security mode="Transport" />
        </binding>
        <binding name="WsChangePwdSoap2" />
        <binding name="WsClientiSoap1">
          <security mode="Transport" />
        </binding>
        <binding name="WsClientiSoap2" />
        <binding name="WsConfigSoap1">
          <security mode="Transport" />
        </binding>
        <binding name="WsConfigSoap2" />
        <binding name="WsCorrieriSoap1">
          <security mode="Transport" />
        </binding>
        <binding name="WsCorrieriSoap2" />
        <binding name="WsFiltraSoap1">
          <security mode="Transport" />
        </binding>
        <binding name="WsFiltraSoap2" />
        <binding name="WsImmaginiSoap1">
          <security mode="Transport" />
        </binding>
        <binding name="WsImmaginiSoap2" />
        <binding name="WsOrdiniSoap1" />
        <binding name="WsProdottiSoap3">
          <security mode="Transport" />
        </binding>
        <binding name="WsProdottiSoap4" />
        <binding name="WsResiSoap1">
          <security mode="Transport" />
        </binding>
        <binding name="WsResiSoap2" />
        <binding name="WsSpedizioniSoap1">
          <security mode="Transport" />
        </binding>
        <binding name="WsSpedizioniSoap2" />
        <binding name="WsValutazioniSoap1" />
        <binding name="WsVenditoriSoap1">
          <security mode="Transport" />
        </binding>
        <binding name="WsVenditoriSoap2" />
        <binding name="WsOrdiniSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WsValutazioniSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WSLoginSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WSLoginSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="customBinding0">
          <binaryMessageEncoding />
          <httpTransport maxBufferPoolSize="4097152" maxReceivedMessageSize="4097152"
            maxBufferSize="4097152" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://amatronws.brovia.it/WebServices/WSCarrello.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsCarrelloSoap1"
        contract="rifCarrelloOL.WsCarrelloSoap" name="WsCarrelloSoap1" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSAmatron.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsAmatronSoap1"
        contract="rifAmatronOL.WsAmatronSoap" name="WsAmatronSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSCategorie.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsCategorieSoap1"
        contract="rifCategorieOL.WsCategorieSoap" name="WsCategorieSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSChangePwd.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsChangePwdSoap1"
        contract="rifChangePwdOL.WsChangePwdSoap" name="WsChangePwdSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSClienti.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsClientiSoap1"
        contract="rifClientiOL.WsClientiSoap" name="WsClientiSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSConfig.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsConfigSoap1"
        contract="rifConfigOL.WsConfigSoap" name="WsConfigSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSCorrieri.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsCorrieriSoap1"
        contract="rifCorrieriOL.WsCorrieriSoap" name="WsCorrieriSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSFiltra.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsFiltraSoap1"
        contract="rifFiltraOL.WsFiltraSoap" name="WsFiltraSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSImmagini.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsImmaginiSoap1"
        contract="rifImmaginiOL.WsImmaginiSoap" name="WsImmaginiSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSOrdini.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsOrdiniSoap"
        contract="rifOrdiniOL.WsOrdiniSoap" name="WsOrdiniSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSProdotti.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsProdottiSoap3"
        contract="rifProdottiOL.WsProdottiSoap" name="WsProdottiSoap1" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSResi.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsResiSoap1"
        contract="rifResiOL.WsResiSoap" name="WsResiSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSSpedizioni.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsSpedizioniSoap1"
        contract="rifSpedizioniOL.WsSpedizioniSoap" name="WsSpedizioniSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSValutazioni.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsValutazioniSoap"
        contract="rifValutazioniOL.WsValutazioniSoap" name="WsValutazioniSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSVenditori.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsVenditoriSoap1"
        contract="rifVenditoriOL.WsVenditoriSoap" name="WsVenditoriSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSLogin.asmx"
        binding="basicHttpBinding" bindingConfiguration="WSLoginSoap"
        contract="rifLoginOL.WSLoginSoap" name="WSLoginSoap" />
    </client>
  </system.serviceModel>
</configuration>