<?xml version="1.0"?>
<!--
  Per altre informazioni su come configurare l'applicazione ASP.NET, vedere
 https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
    <customErrors mode="Off"/>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <connectionStrings>
    <add name="AMATRONDBConnectionString" connectionString="Data Source=5.134.124.100\MSSQLSERVER2019; Initial Catalog =AMATRONDB; User Id=adminamatron;Password=!4m4tr0n!; Pooling=false" providerName="System.Data.SqlClient"/>
    <add name="AMATRONDBConnectionString2" connectionString="Data Source=5.134.124.100\MSSQLSERVER2019;Initial Catalog=AMATRONDB;User ID=adminamatron;Password=!4m4tr0n!;Pooling=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WsAmatronSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WsCarrelloSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WsCategorieSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WsChangePwdSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WsClientiSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WsConfigSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WsCorrieriSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WsFiltraSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WsImmaginiSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WSLoginSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WsOrdiniSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WsProdottiSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WsResiSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WsSpedizioniSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WsValutazioniSoap">
          <security mode="Transport" />
        </binding>
        <binding name="WsVenditoriSoap">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="customBinding0">
          <binaryMessageEncoding />
          <httpTransport maxBufferPoolSize="4097152" maxReceivedMessageSize="4097152"
            maxBufferSize="4097152" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://amatronws.brovia.it/WebServices/WSAmatron.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsAmatronSoap"
        contract="rifAmatronOL.WsAmatronSoap" name="WsAmatronSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSCarrello.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsCarrelloSoap"
        contract="rifCarrelloOL.WsCarrelloSoap" name="WsCarrelloSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSCategorie.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsCategorieSoap"
        contract="rifCategorieOL.WsCategorieSoap" name="WsCategorieSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSChangePwd.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsChangePwdSoap"
        contract="rifChangePwdOL.WsChangePwdSoap" name="WsChangePwdSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSClienti.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsClientiSoap"
        contract="rifClientiOL.WsClientiSoap" name="WsClientiSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSConfig.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsConfigSoap"
        contract="rifConfigOL.WsConfigSoap" name="WsConfigSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSCorrieri.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsCorrieriSoap"
        contract="rifCorrieriOL.WsCorrieriSoap" name="WsCorrieriSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSFiltra.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsFiltraSoap"
        contract="rifFiltraOL.WsFiltraSoap" name="WsFiltraSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSImmagini.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsImmaginiSoap"
        contract="rifImmaginiOL.WsImmaginiSoap" name="WsImmaginiSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSLogin.asmx"
        binding="basicHttpBinding" bindingConfiguration="WSLoginSoap"
        contract="rifLoginOL.WSLoginSoap" name="WSLoginSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSOrdini.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsOrdiniSoap"
        contract="rifOrdiniOL.WsOrdiniSoap" name="WsOrdiniSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSProdotti.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsProdottiSoap"
        contract="rifProdottiOL.WsProdottiSoap" name="WsProdottiSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSResi.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsResiSoap"
        contract="rifResiOL.WsResiSoap" name="WsResiSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSSpedizioni.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsSpedizioniSoap"
        contract="rifSpedizioniOL.WsSpedizioniSoap" name="WsSpedizioniSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSValutazioni.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsValutazioniSoap"
        contract="rifValutazioniOL.WsValutazioniSoap" name="WsValutazioniSoap" />
      <endpoint address="https://amatronws.brovia.it/WebServices/WSVenditori.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsVenditoriSoap"
        contract="rifVenditoriOL.WsVenditoriSoap" name="WsVenditoriSoap" />
    </client>
  </system.serviceModel>
</configuration>