body {

}

.masterBorderColor {
    border-color: #B469FF;
    border-width: 5px;
    border-radius: 20px;
}

.masterButton {
    align-items: stretch;
    background-color: #B469FF;
    border: #B469FF;
    color: white;
}

    .masterButton:hover {
        background-color: #B469FF !important;
        color: blue;
    }

    .masterButton:focus {
        background-color: #B469FF !important;
        color: blue;
    }

.masterCardHeight {
    max-height: 50vh;
}

.masterColorText {
    color: #B469FF;
}

.masterColorBG {
    background-color: #B469FF;
}

.masterContent {
    max-height: 90vh;
}

.masterHideScroll {
    overflow-y: scroll;
}

.masterHideScroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.masterHideScroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.masterHRdivider {
    font-weight: bold;
    font-size: 16px;
}

.masterHRdivider1 {
    background-color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 0 10px;
    position: absolute;
    top: -0.7em;
    left: 50%;
    transform: translateX(-50%);
}

.masterPopup {
    border-radius: 10px;
    border-width: 1px;
    border-color: none;
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 5px;
    width: fit-content;
    height: fit-content;
    border: 0px;
    position: relative;
}

.masterPopupBG {
    background-color: #212529;
    filter: alpha(opacity=30);
    opacity: 0.8;
}


.dropdownlist {
    background-color: transparent;
    border: none;
    color: #B469FF;
}

.masterBottoneChiusura {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    position: fixed;
    float: right;
    background: no-repeat;
    top: 0;
    right: 0;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.masterCarousel {
    background-color: #ebebeb;
    padding: 10px;
}

.provaFE{
    margin-right:1vw;
}
