/*Css corrieri*/

.hrdivider {
    font-weight: bold;
    font-size: 16px;
}

.hrdivider1 {
    background-color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 0 10px;
    position: absolute;
    top: -0.7em;
    left: 50%;
    transform: translateX(-50%);
}

.lblInBasso{
    margin-bottom:-10px;
}

.scrollo::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollo {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
    
.lblCORRIERI {
    float: left;
}

