.destra {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
}

.carrello {
    color: #B469FF;
}

.carrello :hover {
    color: white;
    cursor: pointer;
}

.nav-link {
    color: #B469FF;
}

.nav-link:hover {
    color: white;   
}


.carrello {
    /*color: #B469FF;*/
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.carrello:hover {
    color:white;
}

.searchbar {
    width: 700px;
    color: #B469FF;
    margin: 0 auto;
}

.logoColor {
    border-color: #B469FF;
    color: #B469FF;
    background-color: #212529;
}

.logo {
    height: 50px;
}

.dMenu {
    padding: 0px;
    min-width: 250px;
    right: 5px;
}

.sidebar {
    display: none;
    right: 0;
    width: 400px;
}

.black :hover {
    color: black;
}

.cont {
    padding: 15px;
}


.bianco{
    color: white;
}


/*CSS LOGIN E POPUP*/

#loginform {

    width:  15%;  
    border-radius: 20vh;
    margin-left: 72%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px #333;
    padding: 5px;
    box-sizing: border-box;
    font-family: helvetica;
    visibility: hidden;
    display: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

.popupLogin {
    position: absolute;
    z-index: 3;
}

.popupLogin .chiusuraLogin {
    position: fixed;
}

.popupLogin p {
    margin-top: 40px;
    font-size: 22px;
    color: black;
}

.popupLogin .txtUSR {
    width: 50%;
    height: 10%;
    border: 2px solid silver;
    border-radius: 4px;
    padding: 5px;
    margin: 0 auto;
    margin-left: 14%;
}

.popupLogin .txtPWD {
    width: 50%;
    height: 10%;
    border: 2px solid silver;
    border-radius: 4px;
    padding: 5px;
    margin-top: 2%;
    margin-left: 6%;
}

.popupLogin .doLogin {
    margin-top: 15px;
    width: 50%;
    height: auto;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #B469FF;
    font-size: 17px;
    margin-left: 27%;
}

.check {
    margin-top: 5%;
    margin-left: 28%;
}

.form-switch .form-check-input:focus {
    border-color: #B469FF;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.form-switch .form-check-input:checked {
    background-color: #B469FF;
    border-color: #B469FF;
    border: none;
}

.testo {
    font-size: 17px;
}

/*CSS PAGINA PERSONALE CLIENTI*/

.intestazione {
    color: #B469FF;
    font-family: Arial;
    margin-left: 37%;
}

.misura {
    text-align:center;
    
}

.margini {
    height: 40px;
  
    margin-bottom: 10px;
}

.sposta {
    margin-left: 200px;
}

.largh {
    width: inherit;
    
}

.btnSalva {
    width: 50%;
    align-items: stretch;
    background-color: #B469FF;
    border: #B469FF;
    margin-top: 8px;
    margin-left:10px;
    
}

.hrdivider {
    font-weight: bold;
    font-size: 16px;
}

.hrdivider1 {
    background-color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 0 10px;
    position: absolute;
    top: -0.7em;
    left: 50%;
    transform: translateX(-50%);
}

.btnApri {
    width:200px;
    margin-left:85px;
}

.ordini {
    margin: 10px auto;
    width: 600px;
    height: 200px;
}

.PopupReso {
    background-color: #212529;
    filter: alpha(opacity=30);
    /*opacity: 0.8;*/
}

/*Css popup Inscrizione prime*/
.Background {
    background-color: #212529;
    filter: alpha(opacity=30);
    opacity: 0.8;
}

.Popup {
    padding-top: 10px;
    padding-left: 10px;
    width: 600px;
    height: 600px;
}

.colore {
    background-color: white;

}

.card-text {
    color:black;
}

.card-title {
    color: black;
}

.inscriviti {
    font-size: 30px;
}

.larghezza {
    width: 30%;
    height: 30%;
}

.w3-sidebar {
    z-index: 2;
}

.mItem {
    color: #B469FF;
    padding-right: 10px;
}

.mItem:hover {
    color: white;
}