
.card2 {
    margin-top: 20px;
}

.card3 {
    margin-top: 20px;
}

#btnSalva {
    margin-top: 20px;
    width: 100px;
}

#btnAggiungi {
    margin-top: 20px;
}

.btnVenditoriPurple {
    background-color: #a062de !important;
}

.btnVenditoriOffWhite {
    background-color: :white !important;
}

.coloreHeader {
    background-color: #8e53c9 !important;
}

.CardMargine {
    margin: 12vh auto;
    width: 65vw;
}

.prova {
    margin-left: 200px;
}

.center {
    margin: auto;
    padding: 8px;
}

.provacentro {
    margin-left: 4vw;
}
